{% extends "layout.html" %}
{% block body %}

<div class="row">
  <div class="large-12 columns">
    <p>Welcome to your update center. Here you can send updates on a shipment that’s coming or confirm the arrival of a shipment.</p>
  </div>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
  <div class="row">
    {% for message in messages %}
      <div class="radius success alert-box">
        {{ message }}
      </div>
    {% endfor %}
  </div>
  {% endif %}
{% endwith %}


<div class="row">
  <div class="large-7 columns">
    <h2>I have a shipment scheduled</h2>
    <form action="" method="post">
      <div class="row">
        <div class="large-4 columns">{{ form.location.label(class_='right inline') }}</div>
        <div class="large-8 columns">{{ form.location }}</div>
      </div>
      <div class="row">
        <div class="large-4 columns">{{ form.water.label(class_='right inline') }}</div>
        <div class="large-8 columns">{{ form.water }}</div>
      </div>
      <div class="row">
        <div class="large-4 columns">{{ form.medicine.label(class_='right inline') }}</div>
        <div class="large-8 columns">{{ form.medicine }}</div>
      </div>
      <div class="row">
        <div class="large-4 columns">{{ form.food.label(class_='right inline') }}</div>
        <div class="large-8 columns">{{ form.food }}</div>
      </div>
      <div class="row">
        <div class="large-4 columns">{{ form.clothing.label(class_='right inline') }}</div>
        <div class="large-8 columns">{{ form.clothing }}</div>
      </div>
      <div class="row">
        <div class="large-4 columns">{{ form.eta.label(class_='right inline') }}</div>
        <div class="large-8 columns">{{ form.eta(required=True) }}</div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <input type="submit" value="Send SMS update" class="success button">
        </div>
      </div>
    </form>
  </div>
  <div class="large-4 push-1 columns">
    <h2>Other tasks</h2>
    <ul>
      <li>View past shipments</li>
      <li>View pending shipments</li>
      <li>View timelines per location</li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</div>
{% endblock %}
